* {
  box-sizing: border-box;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:80%;
  padding:0 20px;
}
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

/* The Buttons CSS */
button {
  background-color: #003E7D;
  color: white;
  font-size: 16px;
  margin-top: 15px;
  width: 20%;
  height: 50px;
  cursor: pointer;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover{background-color:#F46B1B;}
button:focus{background-color:#F46B1B;}

/* The Tooltip color and structure CSS */
div.google-visualization-tooltip {
	/* style the tooltip here */
            width: auto;
            border: none;
            border-radius: 12px;
            background-color: rgb(30, 50, 230);
            position: absolute;
            background: -moz-linear-gradient(30deg, rgb(0,99,199) 30%, rgb(0,62,125) 70%);
            background: -webkit-linear-gradient(30deg, rgb(0,99,199) 30%, rgb(0,62,125) 70%);
            background: -o-linear-gradient(30deg, rgb(0,99,199) 30%, rgb(0,62,125) 70%);
            background: -ms-linear-gradient(30deg, rgb(0,99,199) 30%, rgb(0,62,125) 70%);
            background: linear-gradient(120deg, rgb(0,99,199) 30%, rgb(0,62,125) 70%);
            font-size: 10px;
}

/* The Tooltip text CSS */
div.google-visualization-tooltip > ul > li > span {
            color: #FFFFFF !important;
            font-family: 'Montserrat' !important;
            font-size: 14px !important;
}

/* CSS for mobile phones: */
@media only screen and (max-width:620px) {
  .menu, .main, .right {
    width:100%;
  }
  
  /* The mobile Buttons CSS */
  button {
  	background-color: #003E7D;
  	color: white;
 	font-size: 18px;
 	margin-top: 15px;
    margin-bottom: 15px;
	width: 30%;
	height: 60px;
    text-align: center;
 	-webkit-transition-duration: 0.4s;
 	transition-duration: 0.4s;
}

button:hover{background-color:#F46B1B;}
button:focus{background-color:#F46B1B;}
  
}
